{% extends 'layouts/main.html' %}
{% block title %}MeSDO | Components{% endblock %}
{% block content %}
<div class="container">
    <h1>Components</h1>
    <table class="table">
        <thead>
            <tr>
                <th data-searchable="true" data-orderable="true">ID</th>
                <th data-searchable="true" data-orderable="true">Name</th>
                <th data-searchable="true" data-orderable="true">Component Type</th>
                <th data-orderable="false">Actions</th>
                <!-- Add other columns here -->
            </tr>
        </thead>
        <tbody>
            <a href="/components/create" class="btn btn-primary">Add Component</a>
            {% for component in components %}
            
            <tr>
                <td data-search="{{ component.id }}">{{ component.id }}</td>
                <td data-search="{{ component.name }}">{{ component.name }}</td>
                <td data-search="{{ component.component_type }}">{{ component.component_type }}</td>
                
                <td><a href="/components/{{ component.id }}" class="btn btn-primary">Component Details</a></td>
                
                <!-- Add other columns here -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#components-table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": true,
        });
    });
</script>
{% endblock %}

{% endblock %}