{% from "errors/macros.html" import form_field %}
{% extends 'layouts/main.html' %}
{% block title %}New Component{% endblock %}
{% block content %}
  <div class="form-wrapper">
      <form method="post" class="form" action="/components/create" novalidate>
          <h3 class="form-heading">List a new component <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
          <div class="form-group">
                <label for="name">Name</label>
                {{ form.name(class_ = 'form-control', autofocus = true) }}
                {{ form_field(form.name) }}
          </div>


          <div class="form-group">
              <label for="types">Component Type</label>
              {{ form.component_type(class_ = 'form-control', placeholder='Types, separated by commas', autofocus = true) }}
              {{ form_field(form.component_type) }}
          </div>

          <div class="form-group">
            <label for="datasheet_link">Data Sheet Link</label>
            {{ form.datasheet_link(class_ = 'form-control', autofocus = true) }}
            {{ form_field(form.datasheet_link) }}
            </div>

            
          <input type="submit" value="Create Component" class="btn btn-primary btn-lg btn-block">
              {{form.submit}}
      </form>
  </div>
{% endblock %}
